@charset "UTF-8";
html {
    scroll-behavior: smooth;
  }
  
* {
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background-image: linear-gradient(to left, #D198C5, #F7C9C9);
}

main {
    background-color: white;
    width: 90%;
    margin: auto;
    border-radius: 1.67%;
    box-shadow: 0.83% 0.83% 2.5% #947777aa; 

}

h1 {
    color: #7A83BF;
    text-align: center;
    text-shadow: 1px 1px 0px #4a4f739c;
}

h2 {
    color: #B5BF4F;
}

p {
    text-align: justify;
}
.col{
    flex: 2;
    margin: 2%;
}
.container-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
div.item {
    text-align: center;
    border: 1px;
    background-color: rgb(227, 243, 252);
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    display: auto;
    flex: 3;
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 20px;

}
div.item img{
margin-bottom: auto;
}
.container{
    flex-flow: nowrap;
    display: flex;
    flex-wrap: nowrap;
}
.image-container {
    position: relative;
    text-align: center;
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF

}
